<div  style="background-image: url('https://res.cloudinary.com/db5szckya/image/upload/v1685963258/about-movie-bg-1_hnbnxm.jpg'); background-size: cover; background-position: center center;" class="h-[400px]">

  <header aria-label="Site Header" class=" opacity-75" >
<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 text-white">
<div class="flex h-16 items-center justify-between font-bold ">
<div class="md:flex md:items-center md:gap-12 ">
  <a class="block text-teal-600" href="home.html">
    <span class="sr-only ">Home</span>
      <img class="bg-black-600" src="img/logo-1.png" alt="">
  </a>
</div>

<div class="hidden md:block">
  <nav aria-label="Site Nav">
    <ul class="flex items-center gap-6 text-sm ">

    </ul>
  </nav>
</div>

<div class="flex items-center gap-4">
  <div class="sm:flex sm:gap-4">


    <div class="hidden sm:flex">

    </div>
  </div>

  <div class="block md:hidden">
    <button
      class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </div>
</div>
</div>
</div>
<div class="w-[700px] text-center mx-auto mt-20 text-white ">
<h1 class="text-6xl font-bold mt-[150px] italic">Contact Us</h1>
</div>
</header>

</div >
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3047958183924!2d105.76139797417041!3d21.0204869880648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454a15b9aeb8d%3A0x84ec0f4d29a7ab36!2zU8OibiB24bqtbiDEkeG7mW5nIFF14buRYyBnaWEgTeG7uSDEkMOsbmg!5e0!3m2!1svi!2s!4v1685689399299!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div class="mt-40 grid grid-cols-3">
  <div class="px-5">
      <p class="text-3xl italic font-bold my-5">THỜI GIAN HOẠT ĐỘNG</p>
  <p>Giờ Mở Cửa</p>
  <p>Thứ 2 - Chủ nhật</p>
  </div>
  <div  class="px-5">
      <p class="text-3xl italic font-bold my-5">VỊ TRÍ</p>
  <p>Sân vận động Quốc gia Mỹ Đình</p>
  <p>1 Đ. Lê Đức Thọ, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
  </div>
  <div  class="px-5">
      <p class="text-3xl italic font-bold my-5">CHI TIẾT LIÊN HỆ</p>
  <p>Phone: 09344xxxxx</p>
  <p>Email: shop@gmail.com</p>
  </div>
</div>
<div>

</div>
