
<!-- div1 -->

<div>

  <section class="bg-gray-300">

      <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-3xl font-bold text-gray-900 sm:text-6xl italic">
            New Arivales
          </h2>
        </div>

      </div>
    </section>
</div>

<!-- /div1 -->

 <!-- div2 -->
  <div>

  <section
  class="relative bg-[url(https://res.cloudinary.com/db5szckya/image/upload/v1685617962/xedap1_oyqxwb.jpg)] bg-cover bg-center bg-no-repeat"
  >

    <div >

    </div>

  <div
  class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
  class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
  <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
  <h1 class="text-3xl font-extrabold sm:text-5xl text-white">
     Newly Launched

   <strong class="block font-extrabold text-rose-700">
     Kryo X26 MTB
   </strong>
  </h1>

  <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
    ℗ Specifications:

  </p>

  <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
     ℗ Lightweight 18" Frame


  </p>

  <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
     ℗ Steel Suspension Fork


  </p>


  <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
     ℗ Steel Hardtail Frame

  </p>


  <div class="mt-8 flex flex-wrap gap-4 text-center">
   <a
     href="#"
     class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
   >
     BuY NOW
   </a>

  </div>
  </div>
  </div>
  </section>

     </div>

  <!-- /div2 -->



  <!-- div3 -->

  <div>

     <section class="bg-white">
         <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
           <div class="mx-auto max-w-3xl text-center">
             <h2 class="text-5xl font-bold text-gray-900 sm:text-4xl italic text-red-700">
              Danh Sách Sản Phẩm
             </h2>
           </div>

         </div>
       </section>
  </div>

  <!-- /div3 -->




  <!-- div4 -->


  <div>


    <section >
      <div class="testpro">
        <div  class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">


    <div class="mt-8">
      <p class="text-sm text-gray-500 font-bold pb-2"> * Sản Phẩm <span> Mới </span> Nhất</p>
    </div>

    <div class="relative">
      <input type="text" class="w-80 px-3 py-2 rounded-md bg-gray-300 border-gray-400 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50" placeholder="Tìm kiếm sản phẩm" />
      <button class="absolute top-0 p-2 rounded-md bg-blue-500 hover:bg-blue-700 text-white font-bold">
        Tìm kiếm
      </button>
    </div>


    <ul  class="mt-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-4" >
      <li *ngFor = " let pro of products ;index as i">
        <a  [routerLink]="['/bicyclesfake1/',pro._id]" class="group block overflow-hidden">
          <img
            src="{{pro.image.url}}"
            alt=""
            class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative bg-white pt-3">
              <h1>
                  {{pro.name}}
              </h1>
            <h3
              class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
            >
            {{pro.description}}
            </h3>

            <p class="mt-2">
              <span class="sr-only"> Regular Price </span>

              <span class="tracking-wider text-gray-900"> {{pro.price}} </span>
            </p>
          </div>
        </a>
      </li>
    </ul>


        </div>
        </div>
        <ol class="mt-8 flex justify-center gap-1 text-xs font-medium">
          <li>
            <a
              href="#"
              class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
            >
              <span class="sr-only">Prev Page</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3 w-3"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </li>


          <li>
            <a
              href="#"
              class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
            >
              <span class="sr-only">Next Page</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3 w-3"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </li>
        </ol>

      </section>
  </div>


  <!-- /div4 -->



       <!-- div5 -->

       <div>

        <!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
  -->

  <section
  class="relative bg-[url(https://res.cloudinary.com/db5szckya/image/upload/v1685619051/anhdiv5_trirwe.jpg)] bg-cover bg-center bg-no-repeat"
  >
  <div
  class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
  class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
  <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
    <h1 class="text-3xl font-extrabold sm:text-5xl text-white">
      Discover The Collection

      <strong class="block font-extrabold text-rose-700">
        Mountain Bikes
      </strong>
    </h1>

    <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
      tenetur fuga ducimus numquam ea!
    </p>
    <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
      ℗ Specifications:

   </p>

   <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
       ℗ Lightweight 18" Frame


   </p>

   <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
       ℗ Steel Suspension Fork


   </p>


   <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
       ℗ Steel Hardtail Frame

   </p>

    <div class="mt-8 flex flex-wrap gap-4 text-center">
      <a
        href="#"
        class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
      >
        Get Started
      </a>


    </div>
  </div>
  </div>
  </section>
     </div>

     <!-- /div5 -->



     <!-- div6 -->


     <div>

        <!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
  -->

  <section
  class="relative bg-[url(https://res.cloudinary.com/db5szckya/image/upload/v1685619122/anhdiv52_cesqmk.jpg)] bg-cover bg-center bg-no-repeat"
  >
  <div
  class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
  class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
  <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right text-white">
    <h1 class="text-3xl font-extrabold sm:text-5xl">

  Discover The Collection

      <strong class="block font-extrabold text-rose-700">
        City Bikes
      </strong>
    </h1>

    <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
      tenetur fuga ducimus numquam ea!
    </p>

    <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
      ℗ Specifications:

   </p>

   <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
       ℗ Lightweight 18" Frame


   </p>

   <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
       ℗ Steel Suspension Fork


   </p>


   <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
       ℗ Steel Hardtail Frame

   </p>

    <div class="mt-8 flex flex-wrap gap-4 text-center">
      <a
        href="#"
        class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
      >
        Get Started
      </a>


    </div>
  </div>
  </div>
  </section>
     </div>
     <!-- /div6 -->



     <!-- div7 -->

     <div>

        <!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
  -->

  <section
  class="relative bg-[url(https://res.cloudinary.com/db5szckya/image/upload/v1685619125/anhdiv53_xpbdqt.jpg)] bg-cover bg-center bg-no-repeat"
  >
  <div
  class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
  class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
  <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
    <h1 class="text-3xl font-extrabold sm:text-5xl text-white">

  Discover The Collection

      <strong class="block font-extrabold text-rose-700">
        Speciality Bikes
      </strong>
    </h1>

    <p class="mt-4 max-w-lg sm:text-xl/relaxed text-white">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
      tenetur fuga ducimus numquam ea!
    </p>

    <div class="mt-8 flex flex-wrap gap-4 text-center">
      <a
        href="#"
        class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
      >
        Get Started
      </a>


    </div>
  </div>
  </div>
  </section>
     </div>
     <!-- /div7 -->



     <!-- div8 -->

     <div>
        <section>
            <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
              <header class="text-center">
                <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
                    Why Choose KRYO?
                </h2>

              </header>

              <ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3">
                <li>
                  <a href="#" class="relative block group">
                    <img
                      src="https://res.cloudinary.com/db5szckya/image/upload/v1685619873/anhdiv82_tr059z.jpg"
                      alt=""
                      class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
                    />

                    <div
                      class="absolute inset-0 flex flex-col items-start justify-end p-6"
                    >
                      <h3 class="text-xl font-medium text-black italic">

  Biggest Service Network</h3>


                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" class="relative block group">
                    <img
                      src="https://res.cloudinary.com/db5szckya/image/upload/v1685619876/anhdiv83_yqotvr.jpg"
                      alt=""
                      class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
                    />

                    <div
                      class="absolute inset-0 flex flex-col items-start justify-end p-6"
                    >
                      <h3 class="text-xl font-medium text-black italic">
                        99% Assembled Delivery</h3>


                    </div>
                  </a>
                </li>

                <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
                  <a href="#" class="relative block group">
                    <img
                      src="https://res.cloudinary.com/db5szckya/image/upload/v1685619881/anhdiv84_l5rsjf.jpg"
                      alt=""
                      class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
                    />

                    <div
                      class="absolute inset-0 flex flex-col items-start justify-end p-6 "
                    >
                      <h3 class="text-xl font-medium text-black italic ">
                        Light weight
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar.</h3>


                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </section>
     </div>

     <!-- /div8 -->


     <!-- div9 -->

     <div>

        <section class="bg-white">
            <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
              <div class="mx-auto max-w-3xl text-center">
                <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl italic ">
                    Explore Accessories
                </h2>
              </div>

            </div>
          </section>
    </div>

     <!-- /div9 -->


      <!-- div10 -->

      <div>


        <section>
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">

              <div class="mt-8">
                <p class="text-sm text-gray-500">Showing <span> 4 </span> of 40</p>
              </div>

              <ul class="mt-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
                <li>
                  <a href="#" class="group block overflow-hidden">
                    <img
                      src="https://res.cloudinary.com/db5szckya/image/upload/v1685620784/anhdiv101_om7gmq.jpg"
                      alt=""
                      class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                    />

                    <div class="relative bg-white pt-3">

                        <h1>
                            Accessories
                        </h1>
                      <h3
                        class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
                      >
                      Bicycle Gloves Blue
                      </h3>

                      <p class="mt-2">
                        <span class="sr-only"> Regular Price </span>

                        <span class="tracking-wider text-gray-900"> $27.00 – $35.00 </span>
                      </p>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" class="group block overflow-hidden">
                    <img
                      src="https://res.cloudinary.com/db5szckya/image/upload/v1685620789/anhdiv102_pcpwpi.jpg"
                      alt=""
                      class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                    />

                    <div class="relative bg-white pt-3">
                        <h1>
                            Accessories
                        </h1>
                      <h3
                        class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
                      >
                      Bicycle Gloves Gold
                      </h3>

                      <p class="mt-2">
                        <span class="sr-only"> Regular Price </span>

                        <span class="tracking-wider text-gray-900"> $30.00 – $50.00 </span>
                      </p>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" class="group block overflow-hidden">
                    <img
                      src="https://res.cloudinary.com/db5szckya/image/upload/v1685620793/anhdiv103_cezhea.jpg"
                      alt=""
                      class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                    />

                    <div class="relative bg-white pt-3">
                        <h1>
                            Accessories
                        </h1>
                      <h3
                        class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
                      >
                      Bicycle Gloves Pink
                      </h3>

                      <p class="mt-2">
                        <span class="sr-only"> Regular Price </span>

                        <span class="tracking-wider text-gray-900"> $25.00 – $32.00 </span>
                      </p>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" class="group block overflow-hidden">
                    <img
                      src="https://res.cloudinary.com/db5szckya/image/upload/v1685620797/anhdiv104_xtwzhk.jpg"
                      alt=""
                      class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                    />

                    <div class="relative bg-white pt-3">
                        <h1>
                            Accessories
                        </h1>
                      <h3
                        class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
                      >
                      Bicycle Gloves Red
                      </h3>

                      <p class="mt-2">
                        <span class="sr-only"> Regular Price </span>

                        <span class="tracking-wider text-gray-900">$145.00 – $165.00 </span>
                      </p>
                    </div>
                  </a>
                </li>
              </ul>

              <ol class="mt-8 flex justify-center gap-1 text-xs font-medium">
                <li>
                  <a
                    href="#"
                    class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
                  >
                    <span class="sr-only">Prev Page</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3 w-3"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </li>


                <li>
                  <a
                    href="#"
                    class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
                  >
                    <span class="sr-only">Next Page</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3 w-3"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </li>
              </ol>


                <div class="mt-8 flex flex-wrap gap-4 text-center">
                  <a
                    href="#"
                    class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
                  >
                    VIEW ALL
                  </a>

                </div>

            </div>
          </section>
    </div>

     <!-- /div10 -->


          <!-- div11 -->
    <div>
      <section class="overflow-hidden rounded-lg shadow-2xl md:grid md:grid-cols-3">
        <img
          alt="Trainer"
          src="https://res.cloudinary.com/db5szckya/image/upload/v1685619881/anhdiv84_l5rsjf.jpg"
          class="pl-10 h-32 w-full object-cover md:h-full"
        />

        <div class="p-4 text-center sm:p-6 md:col-span-2 lg:p-8">
          <p class="text-sm font-semibold uppercase tracking-widest">
            Run with the pack
          </p>

          <h2 class="mt-6 font-black uppercase">
            <span class="text-4xl font-black sm:text-5xl lg:text-6xl">
              Get 20% off
            </span>

            <span class="mt-2 block text-sm">On your next order over $50</span>
          </h2>

          <a
            class="mt-8 inline-block w-full bg-black py-4 text-sm font-bold uppercase tracking-widest text-white"
            href=""
          >
            Get Discount
          </a>

          <p class="mt-8 text-xs font-medium uppercase text-gray-400">
            Offer valid until 24th March, 2021 *
          </p>
        </div>
      </section>
    </div>

     <!-- /div11 -->






